body {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.container {
    background-color: lightblue;
    height: 300;
    position: relative;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: lightgreen;
    color: white;
    font-size: 1.2em;
}

.texto-centralizado1 {
    width: 250px;
    height: 250px;
    background-color: orangered;
    text-align: center;
    line-height: 250px;
}


.texto-centralizado2 {
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%), (-50%);
}

.alinhado-margin-auto {
    margin: auto;
    display: block;
}

.alinhado-absoluto{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

